.App {
  text-align: center;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Adjusted to flex-start */
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear; /* Make sure logo spins */
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  margin-bottom: 20px; /* Adjusted for spacing below the header */
  display: flex; /* Make the header flex to arrange items inline */
  justify-content: center; /* Center the buttons */
  align-items: center;
  flex-wrap: wrap; /* Wrap items on small screens */
}

.App-header button {
  margin: 0 10px; /* Space out buttons */
  padding: 10px 20px; /* Make buttons larger */
  border: none;
  border-radius: 4px;
  background-color: #09d3ac;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App-header button:hover {
  background-color: #07b89e;
}

.App-link {
  color: #09d3ac; /* Already a good color, consider adding hover effect */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make it stand out more */
}

.App-link:hover {
  color: #07b89e; /* Slightly darker on hover for feedback */
}

/* Ensure the logo spin animation is defined if it's not already */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
